body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  color: #333;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px;
  padding: 2rem;
}

section {
  margin-bottom: 2rem;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

label,
select,
button {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#form-question {
  display: none;
}

#card-container {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 2rem;
  margin-bottom: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card > div {
  display: flex;
  flex-direction: column;
}

.card > div > div {
  display: flex;
  align-items: baseline;
}

.card b {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.card label {
  display: flex;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  border: none;
  align-items: center;
}

.card input[type="radio"] {
  margin-right: 0.5rem;
}

section:nth-of-type(2) {
  display: none;
}
